.detail {
    &__wrapper {
        padding: 0 20px 40px 20px;
    }
    &__image-container {
        img {
            display: block;
            max-width: 100%;
            border-radius: 3px;
        }
    }
    &__container {
        display: grid;
        gap: 20px;
        grid-template-columns: 30% 70%;
        @media screen and (max-width: 767px) {
            grid-template-columns: 100%;
        }
    }
    &__info {
        flex-basis: 50%;
    }
    &__heading {
        font-size: clamp(24px, 4vw, 40px);
        margin-bottom: 12px;
    }
    &__subheading {
        margin-bottom: 16px;
        font-size: 1.125rem;
        color: rgba(255, 255, 255, 0.6);
    }
    &__description {
        margin-bottom: 24px;
        font-size: 1.125rem;
        line-height: 1.5;
        max-width: 60ch;
    }
    &__about {
        margin-top: 30px;
    }
}

.about {
    &__heading {
        font-size: 1.5rem;
    }
    &__info {
        margin-top: 20px;
        font-size: 0.8125rem;
    }
    &__info-line {
        display: flex;
        gap: 10px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__info-caption {
        color: rgba(255, 255, 255, 0.6);
    }
    &__sequels {
        margin-top: 20px;
    }
    &__sequels-heading {
        font-size: 1.125rem;
    }
    &__link {
        color: #fff;
    }
}

.more {
    background-color: #fff;
    &__content {
        padding: 40px 20px;
        color: #000;
    }
    &__list {
        max-height: auto;
        &--short {
            max-height: 320px;
            overflow-y: hidden;
        }
    }
    &__list-item {
        position: relative;
        padding: 16px 0 16px 24px;
        border-bottom: 1px solid rgba(31, 31, 31, 0.1);
        list-style-position: inside;
        list-style-type: none;
        color: #333;
        font-size: 0.875rem;
        line-height: 1.25rem;
        &::before {
            position: absolute;
            top: 20px;
            left: 0;
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(31, 31, 31, 0.4);
        }
    }
    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        margin: 10px 0;
        padding: 7px 16px 9px 11px;
        background-color: rgba(242, 242, 242, 0.9);
        color: rgba(51, 51, 51, 0.9);
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            margin-right: 8px;
            background-image: url("../../assets/images/small-arrow-down.svg");
            background-repeat: no-repeat;
            background-position: center center;
        }
        &--rotated {
            &::before {
                transform: rotate(180deg);
            }
        }
        &:hover {
            background-color: #e6e6e6;
        }
    }
    &__similars {
        margin-top: 30px;
    }
    &__movie-similars {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-top: 30px;
        a {
            text-decoration: none;
            color: #000;
        }
    }
}
