@import "../../styles/variables.scss";

.detail {
    &__wrapper {
        padding: 0 20px 40px 20px;
        background-color: $darkBg;
    }
    &__container {
        display: grid;
        gap: 20px;
        grid-template-columns: 30% 70%;
        @media screen and (max-width: 767px) {
            grid-template-columns: 100%;
        }
    }
    &__image-container {
        img {
            display: block;
            max-width: 100%;
            border-radius: 3px;
        }
    }
    &__heading {
        font-size: clamp(24px, 4vw, 40px);
        max-width: 30ch;
    }
    &__subheading {
        margin: 12px 0 16px 0;
        font-size: 1.125rem;
        color: $grey;
    }
    &__description {
        margin-bottom: 24px;
        font-size: 1.125rem;
        max-width: 60ch;
    }
}

.about {
    &__heading {
        font-size: 1.5rem;
    }
    &__info {
        margin-top: 20px;
        font-size: 0.8125rem;
    }
    &__info-line {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }
    &__slogan,
    &__time {
        color: $grey;
    }
    &__info-caption {
        width: 160px;
        flex-shrink: 0;
        color: $grey;
    }
    &__rating {
        border: 1px solid rgba(222, 222, 222, 0.9);
        border-radius: 4px;
        padding: 3px 4px;
        font-weight: 700;
    }
    &__sequels {
        margin-top: 20px;
    }
    &__sequels-heading {
        font-size: 1.125rem;
    }
    &__link {
        color: $white;
    }
}

.more {
    background-color: $darkBg;
    color: $white;
    &__content {
        padding: 0 20px 40px 20px;
    }
    &__full-description {
        margin-bottom: 20px;
        max-width: 70%;
        @media screen and (max-width: 767px) {
            max-width: 100%;
        }
    }
    &__rating,
    &__faacts,
    &__similars,
    &__reviews {
        margin: 30px 0;
    }
}
