@import "../../styles/variables.scss";

.pages {
    margin: 20px 0;
    &__list {
        display: flex;
        gap: 8px;
        list-style: none;
    }
    &__list-item {
        min-width: 24px;
        font-size: 0.6875rem;
        text-align: center;
    }
    &__link {
        padding: 4px;
        background-color: $primary;
        color: $white;
        text-decoration: underline;
        &--active,
        &:hover {
            background-color: $white;
            color: $primary;
            text-decoration: none;
        }
    }
}
