@import "../../styles/variables.scss";

.pages {
    &__list {
        display: flex;
        gap: 8px;
        list-style: none;
    }
    &__list-item {
        min-width: 24px;
        font-size: 0.6875rem;
        text-align: center;
    }
    &__link {
        padding: 4px;
        background-color: $reviewNeutral;
        color: $linkColor;
        text-decoration: underline;
        &--active,
        &:hover {
            background-color: $orange;
            color: $white;
            text-decoration: none;
        }
    }
}
