@font-face {
    font-family: "Gotham Pro Regular";
    src: url("../assets/fonts/GothamPro-Regular.ttf") format("ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Gotham Pro Bold";
    src: url("../assets/fonts/GothamPro-Bold.ttf") format("ttf");
    font-weight: 700;
}
