* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Gotham Pro Regular";
    src: url("../assets/fonts/GothamPro-Regular.ttf") format("ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Gotham Pro Bold";
    src: url("../assets/fonts/GothamPro-Bold.ttf") format("ttf");
    font-weight: 700;
}

body {
    font-family: "Gotham Pro Regular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #000;
    color: white;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    font-family: "Gotham Pro Bold", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

input,
button {
    font-family: "Gotham Pro Regular", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
