//Global
$grey: rgba(255, 255, 255, 0.6);
$black: #000;
$darkBg: #100e19;
$linkColor: #005;
$primary: #ea003d;

//Rating
$lowRating: red;
$white: #fff;
$averageRating: #777;
$highRating: #3bb33b;
$goldenRating: linear-gradient(165deg, #ffd25e 16.44%, #b59646 63.42%);

//Review
$reviewPositive: #337733;
$reviewNeutral: #9d9d9d;
$reviewNegative: rgb(99, 14, 21);
$reviewDateColor: rgba(31, 31, 31, 0.6);
$reviewTitleColor: #1f1f1f;
$reviewTextColor: #393939;
$orange: #f60;

//Similars
$similarGrey: rgba(31, 31, 31, 0.4);
