@import "../../styles/variables.scss";

.app {
    max-width: 1920px;
    margin: 0 auto;
    &__warning-heading {
        padding: 20px;
    }
    &__link {
        color: $white;
    }
    &__category {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    &__category-page {
        padding: 20px;
    }
}
