@import "../../styles/variables.scss";

.movie {
    cursor: pointer;
    position: relative;
    @media screen and (max-width: 575px) {
        text-align: center;
    }
    &__title {
        font-size: 1rem;
        line-height: 1.5;
        margin-top: 10px;
        font-weight: 300;
        color: $white;
    }
    &__subtitle {
        margin-top: 5px;
        color: #ffffff66;
        font-size: 14px;
    }
    &__poster {
        display: block;
        max-width: 100%;
        border-radius: 5px;
        height: 300px;
        object-fit: cover;
        @media screen and (max-width: 575px) {
            margin: 0 auto;
        }
    }
    &__thumb {
        position: absolute;
        width: 40px;
        left: -6px;
        top: 0;
        border-radius: 5px;
        padding: 5px;
        background-color: grey;
        font-size: 0.8125rem;
        text-align: center;
        @media screen and (max-width: 575px) {
            left: 10px;
        }
        &--green {
            background-color: #3bb33b;
            color: white;
        }
        &--red {
            background-color: #fb0007;
            color: white;
        }
    }
}
