.swiper {
    &-button-prev {
        background: url("../../assets/images/title-arrow--white.svg") no-repeat center center / cover;
        transform: translateY(-50%) rotate(-180deg);
        &::after {
            display: none;
        }
    }

    &-button-next {
        background: url("../../assets/images/title-arrow--white.svg") no-repeat center center / cover;
        transform: translateY(-50%);
        &::after {
            display: none;
        }
    }
}
