@import "../../styles/variables.scss";

.header {
    background-color: $darkBg;
    &__wrapper {
        max-width: 1440px;
        margin: 0 auto;
        padding: 40px 20px 20px 20px;
    }
    &__logo {
        width: 80px;
        height: 80px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav-list {
        display: flex;
        gap: 20px;
    }
    &__list-item {
        list-style: none;
    }
    &__link {
        color: white;
        transition: color 0.2s ease-in;
        &:hover {
            color: #fab82e;
        }
    }
}
